extends ../../layouts/default

block content
	.container
		.page-intro
			h1 Join BC Agri-food Database
		.page-content
			+auth-forms({ initial: 'join' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
