extends ../layouts/default

block intro
	.container
		h1 Browse Projects

block content
	style.
		table, th, td {
			border: 1px solid black;
			padding: 3px;
		}
	.container
		table(style="width:100%")
			thead
				tr
					th Project Title
					th Institution
					th Department
			tbody
				each project in results
					tr
						td=project.title
						td=project.institution
						td=project.department
