extends ../layouts/default

block intro
	.container
		h1 Browse Projects

block content
	.container
		table
			thead
				tr
					th Project
			tbody
				each project in projects
					tr
						td=project.title
