extends ../layouts/default

block intro
	.container
		h1 Research Projects By Institution
		
block content
	.container
		.row: .col-sm-8.col-md-6
			form(method='post')
				input(type='hidden', name='action', value='institution')
				.form-group(class=validationErrors.name ? 'has-error' : null)
					label Institution
