extends ../layouts/default

block content
	if !researcher
		h1 Researcher does not exist...
		p.lead Please check the url and try again
	else
	style.
		td {
			padding: 3px;
		}
	.container
		p: a(href='/browseResearchers').text-muted &larr; go back to browse for more researchers
		header
			h1= researcher.name
			if researcher.institution
				p Institution: #{researcher.institution}
			if researcher.department
				p Department: #{researcher.department}
		if projects
			table
				thead
					tr
						th Projects:
				tbody
					each project in projects
						tr
							td
								a(href='/browseProjects/project/' + project._id) #{project.title}
