extends ../layouts/default

block content
	if !researcher
		h2 Researcher does not exist...
		p.lead Please check the url and try again
	else
	style.
		td {
			padding: 3px;
		}
	.container
		header
			h1= researcher.name
			p Institution: #{researcher.institution}
			p Department: #{researcher.department}
			table
				thead
					tr
						th Projects:
				tbody
					each project in projects
						tr
							td
								a(href='/browseProjects/project/' + project._id) #{project.title}
